<p-table [value]="indicators" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>Descrição</th>
            <th>Possui evidência?</th>
            <th>Evidências</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template #body let-indicator let-editing="editing">
        <tr>
            <td>
                {{ indicator.description }}
            </td>

            <td [pEditableColumn]="indicator.code" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template #input>
                        <p-select [options]="evidences" [(ngModel)]="indicator.evidence" optionValue="code"
                            optionLabel="name" placeholder="Selecione" [appendTo]="'body'"
                            [panelStyle]="{'z-index': '9999'}" [scrollHeight]="'400px'" />
                    </ng-template>
                    <ng-template #output>
                        {{ getEvidenceDescription(indicator.evidence) }}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
              <p-button label="Anexos" icon="pi pi-plus" (click)="addAnexo(indicator.uploads)"></p-button>

            </td>

            <td>

                status
            </td>
        </tr>
    </ng-template>
</p-table>

<app-upload-evidence  [visible]="visible"></app-upload-evidence>


